/*-----------UNIVERSAL STYLING*/

@font-face {
    font-family: title;
    src: url("../fonts/CarnivaleeFreakshow-DLrm.ttf");
}

@font-face {
    font-family: main;
    src: url("../fonts/MaidenOrange-BXXV.ttf");
}

body {
    display: flex;
    flex-direction: column;
    background-image: url("../images/backgrounds/wooden.webp");
    background-size: 100%;
    padding:0;
    margin:0;
    min-height:100vh;
}

.header-container {
    border-bottom: 6px groove silver;
}

.footer-container {
    border-top: 6px groove silver;
}

.form-wrapper h2, .location-wrapper h2, .menu-container h2 {
    text-align: center;
    color: white;
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 200%;
    background-color: #48290AB3;    
}

/*header*/

.list-group-item {
    border: none;
    background: transparent;
    color: #fff;
    font-family: main;
    height: 73px;
    padding: 0;
    font-size: 130%;
}

#title-main, #title-main:hover, #title-main:active {
    text-decoration: none;
    color:#fff;
}

.current {
    background-image: url("../images/backgrounds/star.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    color: brown;
}

.menu-main a {
    display:flex;
    text-decoration: none;
    color: #fff;
    height:100%;  
    align-items: center;
    justify-content: center;
}

.menu-main a h2 {
    margin-bottom:0;
    font-size:100%;
}

.menu-main a:hover,
.menu-main a:active {
    background-image: url("../images/backgrounds/star.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    color: #48290A;
}

h1 {
    font-family: title;
    font-size: 300%;
    line-height: 0.9em;
}

header {
    padding: 10px 0;   
}

#current {
    background-image: url("../images/backgrounds/silstar.svg");
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    color: #48290A;
}

.header-container hr {
    height: 0.2rem;
    background: #fff;
    margin: 12px auto 10px auto;   
    width: 75%;
    text-align: center;
    opacity: 1;
}

/*Footer*/

.footer-container {
    background-color: #ffffff4d;
    height: 100%;
    padding: 5px;
    margin-top: auto;
}

.footer-container .row {
    width: 100%;
}

.review-links img {
   border-radius: 6px;
}

.social-links img, .review-links img {
    height:18px;
}

.footer-container li{
    height: 100%;
}

.footer-container a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    height:30px;
}

.social-media a{
    width:30px;   
}

.reviews-site a{
    width:70px;
}

.footer-container a:hover,
.footer-container a:active {
    background-color: #fff;
}

/*-----------------HOMEPAGE STYLING*/
/*callout*/

.callout-container {
    background-image: url("../images/backgrounds/callout-image.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 60% left 0px;
    height: 55dvh;
    
    border-top: 6px groove silver;
}

.callout-text {
    padding: 20px;
    font-family: main;
    color: #fff;
    background-color: #48290Abf;
}

.callout-text h2 {
    font-size: 160%;
}

.callout-text h3 {
    padding-top: 10px;
    font-size: 130%;
}

.spacer {
    width: 50%;
}

/*customer reviews*/

.review-container {
    font-family: main;
    background-color: #48290AB3;
    color: #fff;
    text-align: center;
    margin: 40px auto;
    padding:20px;
}

.review-container h2 {
    font-size: 220%;
}

.customer-review {
    margin-top: 10px;
}

/*-----------------MENU PAGE STYLING*/
/*layout*/

.menu-wrapper {
    width: 100%;
}

.menu-container {
    width: 85%;
    display: grid;
    text-align: center;
    margin: 40px auto;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    background-image: url("../images/backgrounds/parchment.webp");
    font-family: main;
    padding-bottom:20px;
}

.title {
    grid-column: 1 / 6;
}

.course-title {
    grid-column: 1 / 6;
    padding-top: 20px;
}

.course-subtitle {
    grid-column: 1 / 6;
    margin-top: -0.6em;
}

.food-item {
    grid-column: 1 / 6;
    padding: 0;
    margin-bottom: -0.4em;
}

.food-description {
    grid-column: 1 / 6;
    line-height: 1em;
}

.spacer-menu {
    grid-column: 1 / 6;
    justify-self: center;
}

/*font details*/

.menu-container h2 {
    font-size: 180%;
}

.menu-container h3 {
    font-size: 150%;
}

.menu-container h4 {
    font-size: 130%;
}

.course-subtitle h4 {
    font-size: 100%;
    font-style: italic;
    font-weight:bold;
    color:#48290A;
}

.menu-container p {
    font-size: 100%;
    color:#48290A;
    font-style: italic;
}

/*-----------------ABOUT PAGE STYLING*/
/*layout*/

.about-container {
    display: flex;
    flex-flow: column wrap;
}

.spacer-about {
    text-align: center;
}

.spacer-about .spacer {
    width: 50%;
}

.about-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: white;
    font-family: main;
    margin: 25px;
    padding: 10px;
    text-align: center;
    background-color: #48290AB3;
}

.about-info {
    display: flex;
    flex-flow: row;
    padding-top: 10px;
    align-items: center;
}

.about-profile {
    flex: 1;
}

.about-image-text {
    flex: 2;
    padding: 0 10px;
    font-size: 110%;
}

/*images*/

.about-image img {
    width: 250px;
    border: 4px ridge #818589;
    border-radius: 50%;
}

.profile-pic img {
    width: 80px;
    margin-bottom: 5px;
    border: 4px ridge #818589;
    border-radius: 10%;
}

.profile-bio hr {
    height: 0.2rem;
    background: #fff;
    margin: -2px auto 10px auto;
    width: 30%;
    text-align: center;
    opacity: 1;
}

/*font details*/

.about-section h2 {
    font-size: 160%;
}

.about-section h3 {
    font-size: 140%;
}

.about-section h4 {
    font-size: 120%;
}

/*-----------------BOOKING PAGE STYLING*/
/*general*/

.bookings-wrapper {
    font-family: main;
    display: flex;
    flex-flow: column;
    margin:auto 0;
}

.form-wrapper, .location-wrapper {
    width: 85%;
    margin: 40px auto;
    background-image:url("../images/backgrounds/parchment.webp");
}

.form-personal h3, .form-visit h3, .map-details h3, .address-details h3 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 160%;
}

/*----Form Section----*/
/*layout*/

.booking-container {
    display: flex;
    flex-flow: column;
}

.form-personal, .form-visit {
    padding:20px;
}

.form-personal ul, .form-visit ul{
    margin: 0; 
    padding: 0;
}

.red-text {
    color: red;
}

input, textarea {
    width: 100%;
}
input:focus, textarea:focus {
    outline:#48290A;
}

/*font details*/

.list-details li {
    font-size: 130%;
}

/*form section button*/

.button-wrap {
    display:flex;
    width: 100%;
    margin: 0 auto;
    text-decoration: none;
}

.book-button {
    width: 50%;
    margin:10px auto 30px auto;
    background-color:#48290A;
    color: #fff;
    padding:8px;
    Font-Size: 180%;
}
   
.book-button:hover {
    background-color:#fff;
    border:2px solid #48290A;
    color: #48290A;
}

/*------------Code adapted from 3rd party source (see README.md) */
    .list-details li {
        display: flex;
        flex-wrap: wrap;  
        align-items: center;
    }    

    .list-details > li > label {
        flex: 1 0 150px;
        max-width: 376px;
        text-align: center;
    }

    .list-details > li > label + * {
        flex: 1 0 200px;
    }

    .list-details > li:not(:last-child) {
        margin-bottom: 20px;
    }
/*-------------------3rd party code ends */

/*---- Address Section----*/
/*layout*/

iframe {
    width:100%;
    height:100%;
}

.location-container {
    display: flex;
    flex-flow: column;
    align-items: center;   
    text-align: center;
}

.address-details, .map-details {
    margin-bottom: 20px;
    padding: 20px;
}

.address-details {
    margin:0;
    padding:0;    
    flex:1;
    width:100%;
}

.booking-divider {
    height: 0.2rem;
    background: #000;
    opacity: 1;
    margin: -8px auto 14px auto;
    width: 20%;
    text-align: center;
}

.map-details {
    display:flex;
    flex-flow: column;
    align-items: center;
    width:100%;
    height:300px;
    margin-bottom:10px;
}

/*font details*/

.address-details p {
    font-size: 130%;
}

/*-----------SUBMIT AND 404 PAGE STYLING*/
/*layout*/

.utility-container {
    height: 40dvh;
    font-family: main;
    color:#48290A;
}

.utility-text {
    padding: 20px;
    background-image: url("../images/backgrounds/parchment.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

.utility-footer {
    margin-top: auto;
}

/*font details*/

.utility-text h2{
    font-size: 130%;
}
.utility-text h3{
    margin-top:15px;
    font-size: 110%;
}

/*-------------------MEDIA QUERIES*/

@media screen and (min-width:360px) {

    /*header*/

    .list-group-item {
        height: 80px;
        font-size: 150%;
    }

    /*footer*/

    .social-links img, .review-links img {
        height:22px;
    }

    .social-media a{
        width:34px;
        height:34px;
    }
    .reviews-site a{
        width:80px;
        height:34px;
    }
    
    /*about page*/

    .about-image img {
        width: 280px;
    }

    .profile-pic img {
        width: 100px;
    }

    /*book page*/

    .form-wrapper {
        width: 75%;
    }

    .location-wrapper {
        width:75%;
    }

}

@media screen and (min-width:450px) {

    /*header*/

    h1 {
        font-size: 450%;
    }

    .menu-main {
        font-size: 180%;
        height: 100px;
    }

    /*footer*/

    .social-links img, .review-links img {
        height:24px;
    }
    
    .social-media a{
        width:36px;
        height:36px;
    }
    .reviews-site a{
        width:90px;
        height:36px;
    }

    /*homepage*/

    .callout-text h2 {
        font-size: 200%;
    }

    .spacer {
        width: 40%;
    }

    .review-container h2 {
        font-size: 270%;
    }

    /*menu page*/

    .menu-container h2 {
        font-size: 200%;
    }

    .menu-container h3 {
        font-size: 170%;
    }

    .menu-container h4 {
        font-size: 150%;
    }

    .course-subtitle h4 {
        font-size: 120%;
    }

    /*about page*/

    .about-image img {
        width: 320px;
    }

    .profile-pic img {
        width: 130px;
    }

    .spacer-about .spacer {
        width: 40%;
    }

    .about-section h2 {
        font-size: 180%;
    }

    .about-section h3 {
        font-size: 160%;
    }
    
    .about-section h4 {
        font-size: 140%;
    }

    /*book page*/

    .form-personal, .form-visit, .address-details, .map-details {
        padding-right: 41px;
        padding-left: 41px;
    }
    
    /*submit and 404 page*/

    .utility-text h2{
        font-size: 150%;
    }
    .utility-text h3{
        font-size: 120%;
    }
    
}

@media screen and (min-width:576px) {

    /*header*/

    .nav-wrapper {
        width: 90%;
        margin:auto;
    }

    h1 {
        font-size: 380%;
    }

    /*footer*/

    .social-links img, .review-links img {
        height:28px;
    }

    .review-links img {
        border-radius: 6px;
    }
    
    .social-media a{
        width:40px;
        height:40px;
    }
    .reviews-site a{
        width:104px;
        height:40px;
    }

    /*homepage*/

    .callout-container { 
        height: 50dvh;
    }

    .callout-text h3 {
        font-size: 150%;
    }

    /*menu page*/

    .menu-container h2 {
        font-size: 210%;
    }

    .menu-container h3 {
        font-size: 180%;
    }

    .menu-container h4 {
        font-size: 150%;
    }

    .course-subtitle h4 {
        font-size: 120%;
    }

    /*about page*/

    .spacer-about .spacer {
        width: 35%;
    }

    .about-image img {
        width: 400px;
    }

    .profile-pic img {
        width: 140px;
    }

    .about-image-text {
        font-size: 125%;
        padding: 0 20px;
    }

    .about-section h2 {
        font-size: 190%;
    }

    .about-section h3 {
        font-size: 160%;
    }
    
    .about-section h4 {
        font-size: 150%;
    }

    .about-section {
        margin: 20px 35px;
        padding: 10px;
    }

    /*booking page*/

    .form-personal, .form-visit, .address-details, .map-details {
        padding-right: 75px;
        padding-left: 75px;
    }

    .submit-text h2{
        font-size: 160%;
    }
    .submit-text h3{
        font-size: 140%;
    }

}

@media screen and (min-width:600px) {

    /*header*/

    h1 {
        font-size: 480%;
    }

    .menu-main {
        font-size: 210%;
        height: 120px;
    }

    /*homepage*/

    .callout-text h2 {
        font-size: 220%;
    }

    .spacer {
        width: 30%;
    }

    .review-container h2 {
        font-size: 300%;
    }

    /*menu page*/

    .menu-container {
        width: 80%;
    }

    /*about page*/

    .profile-pic img {
        width: 145px;
    }

    .about-image img {
        width: 490px;
    }

    .about-image-text {
        font-size: 130%;
    }

    .about-section h2 {
        font-size: 210%;
    }

    .about-section h3 {
        font-size: 170%;
    }
    
    .about-section h4 {
        font-size: 160%;
    }

    /*book page*/

    .list-details > li > label {
        text-align:left;
        padding-right: 10px;
    }

    .form-personal, .form-visit, .address-details, .map-details {
        padding-right: 30px;
        padding-left: 30px;
    }

    .form-visit {
        padding-bottom: 20px;
    }

    .location-wrapper {
        padding-top: 0;
    }

    .form-wrapper {
        margin-bottom: 20px;
    }

    /*submit and 404 page*/

    .utility-text h2{
        font-size: 170%;
    }
    .utility-text h3{
        font-size: 130%;
    }

}

@media screen and (min-width:768px) {

    /*header*/

    h1 {
        font-size: 600%
    }

    .menu-main {
        font-size: 270%;
        height: 150px;
    }

    .nav-wrapper {
        width: 85%;
    }

    /*footer*/
    
    .social-links img, .review-links img {
        height:30px;
    }

    .social-media a{
        width:44px;
        height:44px;
    }
    .reviews-site a{
        width:114px;
        height:44px;
    }

    /*homepage*/

    .spacer {
        width: 25%;
    }

    .callout-text h3 {
        font-size: 160%;
    }

    /*menu page*/

    .menu-container h2 {
        font-size: 230%;
    }

    .menu-container h3 {
        font-size: 190%;
    }

    .menu-container h4 {
        font-size: 160%;
    }

    .course-subtitle h4 {
        font-size: 130%;
    }

    .menu-container p {
        font-size: 110%;
    }

    /*about page*/

    .spacer-about .spacer {
        width: 25%;
    }

    .about-image img {
        width: 600px;
    }

    .profile-pic img {
        width: 200px;
    }

    .about-image-text {
        font-size: 140%;
    }

    .about-section h2 {
        font-size: 260%;
    }

    .about-section h3 {
        font-size: 200%;
    }
    
    .about-section h4 {
        font-size: 180%;
    }

    .about-section {
        margin: 20px 45px;
        padding: 20px;
    }

    /*book page*/

    .form-personal, .form-visit, .address-details, .map-details {
        padding-right: 55px;
        padding-left: 55px;
    }

    .form-personal {
        margin-bottom:0;
    }

    .location-wrapper, .form-wrapper {
        width: 70%;
    }
    .form-wrapper h2, .location-wrapper h2 {
        font-size: 240%;
    }
    .form-personal h3, .form-visit h3, .map-details h3, .address-details h3 {
        font-size: 180%;
    }

    .booking-divider {
        margin-bottom: 18px;
    }

    .list-details > li {
        font-size: 150%;
    }

    .address-details p {
        font-size: 150%;
    }

    /*submit and 404 page*/

    .utility-text h2{
        font-size: 190%;
    }
    .utility-text h3{
        font-size: 150%;
    }

}

@media screen and (min-width:900px) {

    /*header*/

    h1 {
        font-size: 700%
    }

    .nav-wrapper {
        width: 80%;
    }

    /*homepage*/

    .callout-text h2 {
        font-size: 250%;
    }

    .callout-text h3 {
        font-size: 180%;
    }

    .spacer {
        width: 20%;
    }

    /*menu page*/
   
    .menu-container h2 {
        font-size: 250%;
    }

    .menu-container h3 {
        font-size: 200%;
    }

    /*about page*/

    .spacer-about .spacer {
        width: 20%;
    }

    .about-section {
        margin: 30px 100px;
        padding: 20px;
    }

    .about-image-text {
        font-size: 160%;
    }

    /*book page*/

     .form-personal, .form-visit, .address-details, .map-details {
        padding-right: 65px;
        padding-left: 65px;
    }

    /*submit and 404 page*/

    .utility-text h2{
        font-size: 210%;
    }
    .utility-text h3{
        font-size: 170%;
    }

}

@media screen and (min-width:936px) {

    /*header*/

    h1 {
        font-size: 780%
    }

}

@media screen and (min-width:1200px) {

    /*header*/

    h1 {
        font-size: 480%
    }

    .nav-wrapper {
        width:50%;
    }

    .header-container hr {
        display:none;
    }

    .menu-main {
        font-size: 240%;
        height: 135px;
    }

    .nav-wrapper {
        padding-left: 30px;
    }

    /*homepage*/

    .spacer {
        width: 15%;
    }

    /*menu page*/

    .menu-container {
        width: 70%;
    }

    /*about page*/

    .about-image {
        flex: 2;
    }

    .about-info {
        flex-flow: column;
        flex: 1;
    }

    .about-section {
        flex-flow: row wrap;
        margin: 20px 45px;
    }

    .about-image img {
        width: 700px;
    }

    .profile-pic img {
        width: 200px;
    }

    .about-image-text {
        font-size: 140%;
    }

    .about-section h2 {
        padding-bottom: 10px;
    }
       
    .about-section h4 {
        font-size: 180%;
    }

     /*book page*/

    .booking-container, .location-container {
        flex-flow: row wrap;
        flex:1;
     }

    .form-personal, .form-visit, .address-details, .map-details {
        flex:1;
        padding: 20px 20px;
    }

    .address-details, .map-details {
        background-image: none;
        height:325px;
        margin-bottom:20px;
    }
    .location-wrapper {
        margin: 40px auto;
    }

    .map-details {
        padding-right: 40px;
    }

    .form-personal h3, .form-visit h3, .map-details h3, .address-details h3 {
        font-size: 190%;
    }

    .booking-divider {
        margin-bottom: 20px;
    }

    .list-details > li {
        font-size: 150%;
    }

    .address-details p {
        font-size: 170%;
    }

}

@media screen and (min-width:1400px) {

    /*header*/

    h1 {
        font-size: 590%
    }

    .menu-main {
        font-size: 270%;
        height: 150px;
    }

    .nav-wrapper {
        width:47%;
    }
    
    /*homepage*/

    .spacer {
        width: 10%;
    }

    /*menu page*/

    .menu-container {
        width: 60%;
    }

    .menu-container h3 {
        font-size: 210%;
    }

    .menu-container h4 {
        font-size: 180%;
    }

    .course-subtitle h4 {
        font-size: 140%;
    }

    .menu-container p {
        font-size: 120%;
    }

    /*about page*/

    .about-section {
        margin: 20px 75px;
    }

    .about-image img {
        width: 800px;
    }

    .profile-pic img {
        width: 250px;
    }

    .about-section h2 {
        font-size: 280%;
    }

   .about-section h3 {
        font-size: 220%;
    }
    
    .about-section h4 {
        font-size: 200%;
    }

}

@media screen and (min-width:1800px) {

    /*header*/

    h1 {
        font-size: 700%
    }

    .menu-main {
        font-size: 305%;
        height: 170px;
    }

    .nav-wrapper {
        width:41%;
    }

    /*homepage*/

    .callout-text h2 {
        font-size: 280%;
    }

    .callout-text h3 {
        font-size: 200%;
    }

    /*menu page*/

    .menu-container {
        width: 50%;
    }

    .menu-container h2 {
        font-size: 280%;
    }

    .menu-container h3 {
        font-size: 240%;
    }

    .menu-container h4 {
        font-size: 200%;
    }

    .course-subtitle h4 {
        font-size: 160%;
    }

    .menu-container p {
        font-size: 140%;
    }

    /*about page*/

    .about-container {
        flex-flow: row wrap;
    }
    .about-section {
        flex-flow: column;
        margin: 40px 20px;
    }
    .about-info{
        flex-flow: row;
    }

    .about-section {
        flex:1;
    }

   .spacer-about .spacer {
        display:none;
    }

    .about-image img {
        width: 400px;
        margin-bottom:20px
    }

    .profile-pic img {
        width: 200px;
    }

    .about-image-text {
        font-size: 150%;
    }

    .about-section h2 {
        font-size: 280%;
    }

   .about-section h3 {
        font-size: 210%;
    }
    
    .about-section h4 {
        font-size: 190%;
    }

    /*book page*/

    .bookings-wrapper {
        flex-flow: row wrap;
    }

    .form-wrapper, .location-wrapper {
        flex:1;
    }

    .form-wrapper {
        margin:20px 30px 20px 60px;
    }

    .location-wrapper {
        margin:20px 60px 20px 30px;
    }

    /*submit and 404 page*/

    .utility-text h2{
        font-size: 230%;
    }
    .utility-text h3{
        font-size: 180%;
    }
}

@media screen and (min-width:2500px) {

    /*header*/

    h1 {
        font-size:1000%
    }

    .menu-main {
        font-size: 330%;
        height: 190px;
    }

    .nav-wrapper {
        width:35%;
    }

    /*homepage*/
   
    .callout-text h2 {
        font-size: 320%;
    }

    .callout-text h3 {
        font-size: 220%;
    }

    /*about page*/

    .about-section {
        margin: 40px 20px;
        padding: 40px;
    }

    .about-image img {
        width: 700px;
    }

    .about-section h3 {
        font-size: 230%;
    }
    
    .about-section h4 {
        font-size: 210%;
    }

    /*book page*/

    .form-wrapper {
        margin:20px 60px 20px 120px;
    }

    .location-wrapper {
        margin:20px 120px 20px 60px;
    }

    /*submit and 404 page*/

    .utility-text h2{
        font-size: 230%;
    }
    .utility-text h3{
        font-size: 180%;
    }
}